@if (city()) {
  <p-card (click)="navigateToForecast()">
    <div class="card">
      <div class="card__info">
        <div class="info__container">
          <p>{{ name() }}</p>
          <p>{{ temp() }}</p>
          <p>{{ weather() }}</p>
        </div>
        <img [src]="iconUrl()" [alt]="description()">
      </div>
      <div class="info__actions">
        <app-button label="See forecast" icon="sun" variant="outlined" (click)="addToFavorites(city().id)" />
        @if (hasFavorite()) {
          <app-button label="Remove to favorites" icon="trash" color="danger" (click)="removeFromFavorites(city().id)" />
        }

        @else {
          <app-button label="Add to favorites" icon="heart" (click)="addToFavorites(city().id)" />
        }
      </div>
    </div>
  </p-card>
}
