<form class="form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form__field">
    <app-input-text id="username" label="Username" formControlName="username" [control]="loginForm.controls['username']" />
  </div>

  <div class="form__field">
    <app-input-password id="password" label="Password" formControlName="password" [control]="loginForm.controls['password']" />
  </div>

  <div class="form__field">
    <app-input-checkbox id="remember" label="Remember me" formControlName="remember" />
    <app-button-link label="Create a new account" routerLink="/register" />
  </div>

  <div class="form__actions">
    <app-button label="Login" type="submit" />
  </div>
</form>
